
.DS_Store
Imágenes/DRIVE/
Imágenes/info/
Imágenes/output_*
*/.ipynb_checkpoints
.ipynb_checkpoints/t1_patrones-checkpoint.ipynb
*.pyc
*.tif
*.gif
*.png
*.jpg
*.7z
.ipynb_checkpoints/MorphologicalOp-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
*.out
*.fdb_latexmk
*.fls
*.log
*.gz
*.plist
Opti/t4/t4.dSYM/Contents/Resources/DWARF/t4
*.aux
*.txt
*.gpl
*.zip
Opti/t4/t4
Opti/t5/ej2
*.csv
Opti/t6/ej1
Opti/t5/ej2.dSYM/Contents/Resources/DWARF/ej2
Opti/t6/images/
Opti/t6/histograms
Patrones/examenPractico/.ipynb_checkpoints/ExamenPracticoPatrones-checkpoint.ipynb
Opti/t6/ej2
Opti/t6/ej2.dSYM/Contents/Resources/DWARF/ej2
Patrones/t6/texts/
Patrones/stanford_notes/
